<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="ConexionALaBase" connectionString="Data Source=localhost\SQLSERVER2008;Initial Catalog=GD1C2015;User ID=gd;Password=gd2015;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="DateKey" value="2012-06-21" />
  </appSettings>
</configuration>